@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('fonts.css');
@import url('media-queries.css');
@import url('homepage_new.css');

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

@layer base {
  .p-FieldLabel {
    @apply text-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .app_container {
    @apply px-[20px] sm:px-[70px];
  }
  .description {
    display: inline;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    max-width: 100%;
  }

  /* newest */


  /* button */
.rainbad {
  /* margin: 100px;
  padding: 15px 40px; */
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}
.rainbad::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.rainbad::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.rainbad:hover::before {
  opacity: 1;
}

/* .rainbad:active:after {
  background: transparent;
} */

/* .rainbad:active {
  color: #000;
  font-weight: bold;
} */


  /* Ended new */

  .rainbow-shadow {
    position: relative;
    padding: 16px;
    background-color: #fff; /* Background color for content inside */
    border-radius: 10px; /* Optional for rounded corners */
    z-index: 1; /* Ensure the content stays above the shadow */
  }
  
  .rainbow-shadow::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    border-radius: 12px; /* Match border-radius with slight extra */
    background: linear-gradient(
      45deg, 
      red, orange, yellow, green, blue, indigo, violet
    );
    filter: blur(15px); /* Blur to create the shadow effect */
    opacity: 0.75; /* Adjust opacity for a softer look */
  }
  
  .rainbow-border {
    transition: all .3s ease-in;
    border-image: linear-gradient(
        to right,
        red 0%,
        orange 16.66%,
        yellow 33.33%,
        green 50%,
        blue 66.66%,
        indigo 83.33%,
        violet 100%
      )
      1;
    border-width: 7px;
    border-radius: 10px;
    border-style: solid;
    padding: 8px;
  }

  /* .rainbow-border {
    transition: all 0.3s ease-in;
    padding: 8px;
    position: relative;
    z-index: 1;
  }
  
  .rainbow-border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 10px; 
    background: linear-gradient(
      to right,
      red 0%,
      orange 16.66%,
      yellow 33.33%,
      green 50%,
      blue 66.66%,
      indigo 83.33%,
      violet 100%
    );
    filter: blur(10px); 
    transition: all 0.3s ease-in;
  }
  
  .rainbow-border:hover::before {
    filter: blur(15px);
  } */



/* Add this to your global CSS file or as a Tailwind plugin */
.rainbow-border {
  box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.7), 
              0 0 20px 5px rgba(255, 165, 0, 0.7), 
              0 0 30px 5px rgba(255, 255, 0, 0.7),
              0 0 40px 5px rgba(0, 128, 0, 0.7),
              0 0 50px 5px rgba(0, 0, 255, 0.7),
              0 0 60px 5px rgba(75, 0, 130, 0.7),
              0 0 70px 5px rgba(238, 130, 238, 0.7) !important;
  transition: box-shadow 0.3s ease;
}

.journal-container:hover,
.journal-container:active {
  box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.7), 
              0 0 20px 5px rgba(255, 165, 0, 0.7), 
              0 0 30px 5px rgba(255, 255, 0, 0.7),
              0 0 40px 5px rgba(0, 128, 0, 0.7),
              0 0 50px 5px rgba(0, 0, 255, 0.7),
              0 0 60px 5px rgba(75, 0, 130, 0.7),
              0 0 70px 5px rgba(238, 130, 238, 0.7) !important;
}


  



  
  .rainshine-border {
    position: relative;
    padding: 20px; /* Add padding to prevent content from being overlapped */
    background: linear-gradient(0deg, #000, #262626);
    z-index: 1; /* Make sure the main content stays above the border */
  }
  
  .rainshine-border::before, .rainshine-border::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(
      45deg, 
      #fb0094, 
      #0000ff, 
      #00ff00, 
      #ffff00, 
      #ff0000, 
      #fb0094, 
      #0000ff, 
      #00ff00, 
      #ffff00, 
      #ff0000
    );
    background-size: 400%;
    z-index: -1; /* Move behind the main content */
    animation: shadow 20s linear infinite;
  }
  
  .rainshine-border::after {
    top: -8px;
    left: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    filter: blur(24px);
    opacity: 0.9;
    z-index: -2; /* Ensure the blurred shadow stays behind everything */
  }
  
  @keyframes shadow {
    0% {
      background-position: 0 0;
    }
    50.01% {
      background-position: 200% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
    

  /* .expand {
    -webkit-line-clamp: unset;
    max-height: none;
  } */
  /* @import "./components/index.css"; */
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1140px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  padding: 0 15px;
  box-sizing: border-box;
  flex: 1 0 0%;
}

.col-xs-1 {
  flex: 0 0 8.33%;
  max-width: 8.33%;
}
.col-xs-2 {
  flex: 0 0 16.67%;
  max-width: 16.67%;
}
.col-xs-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-xs-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.col-xs-5 {
  flex: 0 0 41.67%;
  max-width: 41.67%;
}
.col-xs-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-xs-7 {
  flex: 0 0 58.33%;
  max-width: 58.33%;
}
.col-xs-8 {
  flex: 0 0 66.67%;
  max-width: 66.67%;
}
.col-xs-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-xs-10 {
  flex: 0 0 83.33%;
  max-width: 83.33%;
}
.col-xs-11 {
  flex: 0 0 91.67%;
  max-width: 91.67%;
}
.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
  }
  .col-sm-2 {
    flex: 0 0 16.67%;
    max-width: 16.67%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col-sm-5 {
    flex: 0 0 41.67%;
    max-width: 41.67%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
  }
  .col-sm-8 {
    flex: 0 0 66.67%;
    max-width: 66.67%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
  }
  .col-sm-11 {
    flex: 0 0 91.67%;
    max-width: 91.67%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
  }
  .col-md-2 {
    flex: 0 0 16.67%;
    max-width: 16.67%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col-md-5 {
    flex: 0 0 41.67%;
    max-width: 41.67%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
  }
  .col-md-8 {
    flex: 0 0 66.67%;
    max-width: 66.67%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
  }
  .col-md-11 {
    flex: 0 0 91.67%;
    max-width: 91.67%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
  }
  .col-lg-2 {
    flex: 0 0 16.67%;
    max-width: 16.67%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col-lg-5 {
    flex: 0 0 41.67%;
    max-width: 41.67%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
  }
  .col-lg-8 {
    flex: 0 0 66.67%;
    max-width: 66.67%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
  }
  .col-lg-11 {
    flex: 0 0 91.67%;
    max-width: 91.67%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
  }
  .col-xl-2 {
    flex: 0 0 16.67%;
    max-width: 16.67%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col-xl-5 {
    flex: 0 0 41.67%;
    max-width: 41.67%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
  }
  .col-xl-8 {
    flex: 0 0 66.67%;
    max-width: 66.67%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
  }
  .col-xl-11 {
    flex: 0 0 91.67%;
    max-width: 91.67%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

/*
  Other CSS files
*/
@import './others/index.css';

.p-FieldLabel {
  color: #ffffff;
}
