.popupContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
  }
  
  .popup {
    background: rgba(255, 255, 255, 1);
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-in-out;
    width: 90%;
    max-width: 1000px;
    color: #000;
    position: relative;
    height: 80vh;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .popup.black{
    background-color: #000000;
  }


  .popup h2{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 22px;
  }

  .popup.black h2{
    color: #ffffff;
  }

  .popup p{
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }

  .popup.black p{
    color: #ffffff;
  }

  .search-options{
    display: flex;
    flex-direction: row;
    justify-content: center;  
    margin-bottom: 30px;
}

.search-options label{
    padding: 0 20px;
    position: relative;
    cursor: pointer;
}

.search-options label::after{
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: #000;
}

.search-options label:last-child::after{
    display: none;
}

.search-options label.active{
    font-weight: bold;
}

.searchInput{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.searchInput input{
    border-bottom: solid 1px #000;
    padding: 10px 4px;
    min-width: 400px;
    background-color: transparent;
    color: #ffffff;
    position: relative;
}

.searchInput input:disabled{
  color: #a5a5a5;
}

.searchInput input:focus{
  border: 0;
  outline: 0;
}

.popup.black .searchInput input{
    background-color: transparent;
    border-bottom: solid 1px #ffffff;
    min-width: 330px;
}

.popup.black .searchInput .submit{
    color: #ffffff;
    padding: 5px 0;
}

.popup.black .packages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popup.black .packages .package{
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    border: solid 1px #fff;
    border-radius: 16px;
    flex: 1;
    align-items: stretch;
    cursor: pointer;
}

.popup.black .packages .package span{
    padding: 10px 0;
    color: #ffffff;
    justify-self: center;
    align-self: center;
    padding: 0 50px;
}

.popup.black .packages .package span:nth-child(1){
    font-size: 20px;
    padding: 20px 0 5px;
    position: relative;
}

.popup.black .packages .package span:nth-child(1):after{
    height: 1px;
    width: 30px;
    content: '';
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.popup.black .packages .package span:nth-child(2){
    font-size: 70px;
    padding: 0px 0px 15px;
}

.popup.black .packages .package span:nth-child(2) sub{
    font-size: 18px;
}

.popup.black .packages .package span:nth-child(3) ul{
    padding: 0;
    list-style:circle;
}

.popup.black .packages .package span:nth-child(3) ul li{
    font-size: 14px;
}


.searchInput input:active{
    outline: 0;
}

.searchInput .frmGrp{
    padding: 12px 0;
}

.close{
    position: absolute;
    top: 30px;
    right: 30px;
}

.popup.black .close{
    color: #ffffff;
    font-size: 34px;
    font-family: 'HelveticaNeueCyr-Light';
}

.navTabs{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.navTabs h2{
    padding: 0 20px;
    position: relative;
    cursor: pointer;
    font-weight: 400;
    color: #a5a5a5 !important;
}

.navTabs h2.active{
    font-weight: bold;
    color: #ffffff !important;
}

.navTabs h2::after{
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: #000;
}

.navTabs div:last-child h2::after{
    display: none;
}

.navTabs .other{
  color: #ffffff !important;
}


  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-left-color: rgb(255, 255, 255);
    animation: spin 1s ease infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .passwordWrapper {
    position: relative;
  }

  .passwordWrapper input[type=password],
.passwordWrapper input[type=text] {
  padding-right: 30px;
}

  .eyeIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #a4a4a4;
  }

  .frmGrp {
    margin-bottom: 10px;
    flex: 1;
  }

  .frmGrp.subscription{
    display: flex;
    padding-bottom: 0;
  } 
  
  .frmGrp.subscription div{
    color: #ffffff;
    font-size: 18px;
  }

  .frmGrp.subscription .muted{
    color: #a5a5a5
  }

  .frmGrp.subscription .cPlan{
    padding: 0 15px;
  }

  .buttonWrapper.subscription{
    margin-top: 35px;
  }


  .row {
    display: flex;
    gap: 25px;
    margin-bottom: 10px;
  }

  .backButton{
    color: #ffffff;
    position: absolute;
    top: 30px;
    left: 30px;
    line-height: 34px;
  }

  .socialLogin{
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .socialLogin li{
    padding: 0 12px;
    position: relative;
  }

  .socialLogin li::after{

  }

  .socialLogin li a{
    color: #a5a5a5;
    font-size: 18px;
  }

  .socialLogin li a:hover{
    color: #ffffff;
  }

  .socialLogin li:nth-child(even)::after{
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: #a5a5a5;
  }

  .socialLogin li:nth-child(even)::before{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 1px;
    background-color: #a5a5a5;
  }

  .socialLogin li:nth-child(even){
    padding: 0 18px;
  }




  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  
  .fadeIn {
    animation: fadeIn 0.5s forwards;
  }
  
  .fadeOut {
    animation: fadeOut 0.5s forwards;
  }
  
  .hidden {
    display: none;
  }

  .error{
    position: absolute;
    color: #ffffff;
    font-size: 11px;
    margin-top: 4px;
  }

  .buttonWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .content{
    display: flex;
    flex: 90%;
    justify-content: center;
    flex-direction: column;
  }

  .footer{
    display: flex;
    flex: 10%;
    align-items: center;
    justify-content: center;
  }

  .errorAll.show {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
    border: solid 1px #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
  }

  .errorAll.show p{
    margin: 0;
    padding: 5px;
    color: #000000 !important;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


/* Add Mobile Package Responsive */
@media (max-width: 768px) {
  .navTabs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
  