/* body {
  overflow-y: hidden;
} */



a:hover {
  color: #DD47F7 !important;
}

#mobileMenu {
  display: none;
}

.mySwiper {
  height: calc(100dvh);
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: #000000 !important;
  font-size: 22px;
}

.mySwiper > .swiper-wrapper > .slide {
  justify-content: flex-end;
  display: flex;
  align-items: baseline;
  position: relative;
  flex-direction: column;
}

.mySwiper > .swiper-wrapper > .slide-banner {
  justify-content: center;
  display: flex;
  align-items: baseline;
  position: relative;
  flex-direction: column;
}

.mySwiper > .swiper-wrapper > .slide-banner > .banner-slider .swiper-slide {
  padding: 0 70px;
}

.mySwiper
  > .swiper-wrapper
  > .slide-banner
  > .banner-slider
  > .swiper-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}



.partner .swiper-wrapper {
  align-items: center;
}
.slide.partner-img {
  pointer-events: auto !important;
}

.slide.partner-img img {
  border: 4px solid #fff;
  /* position: absolute; */
  z-index: 100;
  width: 250px;
  cursor: pointer !important;
  height: 140px;
  object-fit: contain;
}

.slide.partner-img:hover {
  box-shadow: #DD47F7;
}



.mySwiper
  > .swiper-wrapper
  > .slide-banner
  .banner-slider
  .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ffffff;
  opacity: 1;
}

.mySwiper
  > .swiper-wrapper
  > .slide-banner
  .banner-slider
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #dd47f7;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ffffff;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #dd47f7;
}

.swiper-pagination-bullet-active {
  background: #dd47f7;
}

.mySwiper > .swiper-wrapper > .slide-banner .banner-slider-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 60%;
}



.jornbtn {
  font-family: HelveticaNeueCyr-Light!important;
  font-size: 11px !important;
  line-height: 12px;
  color: #d2d2d2c9;
  text-transform: lowercase;
  transition: all .2s ease-in;
  text-align: right !important;
}

.jornbtn:hover {
  color: #DD47F7 !important;
}

.jornbtn.active {
  font-family: HelveticaNeueCyr-Roman!important;
  font-size: 16.5px !important;
  font-weight: 550;
  line-height: 17.5px;
  color: #ececec;
}


.slide-text {
  font-family: HelveticaNeueCyr-Light!important;
  font-weight: 500 !important;
  position: absolute;
  left: 50px;
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Slow fade effect */
}

.slide-text.active {
  opacity: 1;
}


.mySwiper > .swiper-wrapper > .slide-banner .banner-slider-content h3 {
  font-size: 70px;
  font-family: 'HelveticaNeueCyr-Roman';
  font-weight: 600;
  letter-spacing: 2px;
  color: #ffffff;
}

.mySwiper > .swiper-wrapper > .slide-banner .banner-slider-content > h4 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-family: 'HelveticaNeueCyr-Light';
  color: #ffffff;
  margin-bottom: 20px;
}

.mySwiper > .swiper-wrapper > .slide-banner .banner-slider-content p {
  max-width: 650px;
  width: 650px;
  font-size: 23px;
  letter-spacing: 1.5px;
  text-align: justify;
  line-height: 34px;
  font-family: 'HelveticaNeueCyr-Light';
  color: #ffffff;
  margin-bottom: 20px;
}

.mySwiper > .swiper-wrapper > .slide-banner .banner-slider-content button {
  width: fit-content;
  color: #ffffff;
  font-size: 22px;
  transition: all .3s ease-in-out;
}

.mySwiper > .swiper-wrapper > .slide-banner .banner-slider-content span.albeit{
  width: fit-content;
  color: #ffffff;
  font-size: 16px;
}

.mySwiper > .swiper-wrapper > .slide-banner .banner-slider-content span.albeit button {
  font-size: 16px;
}

.mySwiper > .swiper-wrapper > .slide-banner .banner-slider-content button:hover {
  color: #dd47f7;
  transform: translateX(2px);
}

.bg-overlay {
  z-index: 99;
}

.bg-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.mySwiper > .swiper-wrapper > .slide > div {
  padding: 0 70px 60px;
}

.mySwiper > .swiper-wrapper > .slide > .slide-content {
  display: block;
  width: 100%;
}

.mySwiper > .swiper-wrapper > .slide .para p {
  margin-bottom: 20px;
}

.mySwiper > .swiper-wrapper > .slide .no-fade {
  position: relative;
  top: 0;
  height: 100%;
  width: 25px;
  -o-object-fit: contain;
  object-fit: contain;
  left: 0;
  transition: none !important;
  margin: 0 0 0;
  margin-right: 20px;
  top: -2px;
}




.mySwiper > .swiper-wrapper > .slide .italics {
  font-family: 'HelveticaNeueCyr-LightItalic' !important;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 280px 0 100px;
}

.logos li {
  height: 120px;
  width: 120px;
  position: relative;
}

.logos li img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
}

.para {
  width: 580px;
  min-width: 500px;
  margin-bottom: 20px;
}

.para.wide {
  width: 525px;
  min-width: 525px;
  margin-bottom: 20px;
  font-size: 20px;
}

.para.wide.tick {
  width: 600px;
  min-width: 525px;
  margin-bottom: 20px;
  font-size: 20px;
}

.para.wide.extra {
  width: 725px;
  min-width: 525px;
}

.para:last-child {
  margin-bottom: 0;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-items {
  position: fixed;
  top: 10vh;
  right: -2vw;

  overflow-x: hidden;
  overflow-y: auto;
  z-index: 999999;
  transition: top 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 15px;
  margin: 10px;
  display: none;
}

.menu-items .wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  width: 200px;
  height: 85px;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-bottom: 55px;
}

.menu-items .selected-value {
  position: absolute;
  top: 0;
  color: #000000 !important;
  font-family: 'HelveticaNeueCyr-Roman';
  font-size: 16px;
  position: absolute;
  text-align: center;
  /* margin-top: 14px; */
  transition: all 0.3s ease;
  background: #ffffff;
}

.menu-items .selected-value::after {
  content: '[';
  position: absolute;
  left: 0;
}
.menu-items .selected-value::before {
  content: ']';
  position: absolute;
  right: 0;
}

.menu-items .wrapper::-webkit-scrollbar {
  display: none;
}

.menu-items a {
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 11px;
  text-align: center;
  color: #d8d8d8;
  margin: 0 0 2px;
  cursor: pointer;
  display: inline-block;
  padding: 0 8px;
  display: block;
  transition: all 0.3s ease;
}

.menu-items a:hover {
  cursor: pointer;
}

.menu-items a.active {
  color: #000000 !important;
  font-family: 'HelveticaNeueCyr-Roman';
  font-size: 16.5px;
  position: relative;
  text-align: center;
  transition: all 0.3s ease;
}
.menu-items a.active::after {
  content: '[';
  position: absolute;
  left: 0;
}
.menu-items a.active::before {
  content: ']';
  position: absolute;
  right: 0;
}

.menu-items a.bactive {
  color: rgba(0, 0, 0, 0.6);
}

.menu-items a {
  color: rgba(0, 0, 0, 0.4);
}

.menu-items a.active.white {
  color: #ffffff !important;
}

.menu-items a.bactive.white {
  color: rgba(255, 255, 255, 0.6);
}

.move-left-up-animation {
  animation: moveLeftUpAnimation 3s ease-in-out forwards;
  /* display: flex;
   flex-direction: column; */
}

@keyframes moveLeftUpAnimation {
  0% {
    transform: translateX(100px) translateY(50px);
  }
  50% {
    transform: translateX(0) translateY(50px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.move-left-up-animation h1 {
  position: relative;
  padding: 0 10px;
  display: inline-block;
}

.move-left-up-animation h1::after {
  content: '[';
  position: absolute;
  top: 0;
  transform: scaleX(0) translateY(-50%);
  transform-origin: right;
  color: #000000;
}

.move-left-up-animation h1::before {
  content: ']';
  position: absolute;
  top: 0;
  transform: scaleX(0) translateX(-50%);
  transform-origin: right;
  color: #000000;
}

.move-left-up-animation h1::before {
  left: 100%;
  animation: moveLeftAnimation 3s ease-in-out 0.2s forwards;
}

.move-left-up-animation h1::after {
  left: 0;
  animation: moveRightAnimation 3s ease-in-out 0.2s forwards;
}

.move-left-up-animation p {
  opacity: 0;
  animation: showParagraph 4s ease-in-out 0.5s forwards;
}

@keyframes showParagraph {
  to {
    opacity: 1;
  }
}

.brackets h1 {
  position: relative;
  padding: 0 15px;
  display: inline-block;
}

.brackets h1::after {
  content: '[';
  position: absolute;
  top: 50%;
  left: 0;
  transform: scaleX(1) translateY(-50%);
  transform-origin: right;
  animation: none !important;
  animation: moveRightAnimation 3s ease-in-out;
}

.brackets h1::before {
  content: ']';
  position: absolute;
  top: 50%;
  right: 0;
  transform: scaleX(1) translateY(-50%);
  transform-origin: left;
  animation: none !important;
  animation: moveLeftAnimation 3s ease-in-out;
}

/* Newly added by Brobot */
/* .slide-content {
  background-image: url('/IMG_2393.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.sides::-webkit-scrollbar {
  display: none;
}

/* ForeWord */
.foreword {
  z-index: 3;
  color: white;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 100px 30px 100px;
}

.foreword .bg-overlay::before {
  z-index: 1;
}

.foreword .fore-text {
  max-width: 60%;
  width: 60%;
  /* max-height: 40%;
  height: 40%; */
  min-width: 500px;
  cursor: pointer;
  overflow-y: hidden;
}

.fore-text pre {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 22px;
  line-height: 35px;
  word-spacing: 1.5px;
  font-family: 'HelveticaNeueCyr-Light';
}
/* Ended Here */

.slide-content.no-brackets {
  width: auto !important;
}

.slide-content.no-brackets h1 {
  display: flex;
  padding: 0;
}

.slide-content.no-brackets h1:after {
  display: none;
}

.slide-content.no-brackets h1::before {
  display: none;
}

/* .scrollanimation {
  transition: opacity 1s ease-in-out;
  opacity: 1;
} */

.scrollanimation.hide {
  opacity: 0;
  pointer-events: none;
}

.move-up-animation > * {
  animation: moveUpAnimation 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes moveUpAnimation {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.move-up-animation h1 {
  position: relative;
  padding: 0 15px;
  display: inline-block;
}

.move-up-animation h1::after {
  content: '[';
  position: absolute;
  top: 0;
  transform: scaleX(0) translateY(-50%);
  transform-origin: right;
  color: #000000;
}

.move-up-animation h1::before {
  content: ']';
  position: absolute;
  top: 0;
  transform: scaleX(0) translateX(-50%);
  transform-origin: right;
  color: #000000;
}

.move-up-animation h1::before {
  left: 100%;
  animation: moveLeftAnimation 2s ease-in-out 0.6s forwards;
}

.move-up-animation h1::after {
  left: 0;
  animation: moveRightAnimation 2s ease-in-out 0.6s forwards;
}

.move-up-animation2 h1::after {
  content: '[';
  position: absolute;
  top: 0;
  transform: scaleX(0) translateY(-50%);
  transform-origin: right;
  color: #000000;
  display: none;
}

.move-up-animation2 h1::before {
  content: ']';
  position: absolute;
  top: 0;
  transform: scaleX(0) translateX(-50%);
  transform-origin: right;
  color: #000000;
  display: none;
}

.move-up-animation2 h1::before {
  left: 100%;
  animation: moveLeftAnimation 2s ease-in-out 0.6s forwards;
}

.move-up-animation2 h1::after {
  left: 0;
  animation: moveRightAnimation 2s ease-in-out 0.6s forwards;
}

@keyframes moveLeftAnimation {
  to {
    transform: translateX(-100%) scaleX(1);
  }
}

@keyframes moveRightAnimation {
  to {
    transform: translateX(0) scaleX(1);
  }
}

.blackColor.logo {
  position: relative;
}

.blackColor.logo .italics {
  opacity: 1;
  display: block;
  position: relative;
  left: auto;
}

.blackColor.logo span {
  position: absolute;
  left: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  min-width: 500px;
}

.blackColor.logo span.active {
  opacity: 1;
}

.scroll-anim {
  filter: brightness(6%);
  opacity: 0.1;
  animation: fadeInOut 3.5s infinite;
  width: 50px;
  margin: 0 !important;
}

.scroll-anim svg {
  filter: opacity(0.3) !important;
}

.scroll-anim {
}

.scrollanimation {
  margin: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  align-items: center;
  /* animation: fadeInOut 3.29s 3; */
  opacity: 1;
  z-index: 999;
}

.scrollanimation p {
  color: #fff;
  font-size: 12px;
  font-family: 'HelveticaNeueCyr-Roman' !important;
  opacity: 0.8;
  margin-top: 10px;
}

.scrollanimation .icon {
  /* width: 120px;
   height: 150px;
   overflow: hidden;
   background-color: aliceblue;
   background: url('../public/animated_icon.gif') no-repeat;
   background-size: 650px 650px;
   background-position: 50% 55%;
   transform: scale(1); */
}

.scrollanimation .icon img {
  width: 177px;
}

.scrollanimation .mouse {
  width: 30px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.scrollanimation .mouse .wheel {
  width: 5px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  animation: wheel 1s infinite;
}

@keyframes wheel {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.swiper-container {
  padding: 0px 250px 0 250px;
  position: relative;
  margin-top: 40px;
}

.swiper-container.journal {
  padding: 0 30px !important;
}

@media (max-width: 768px) {
  .swiper-container.journal {
    padding: 0px !important;    
  }
  .stew {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0 35px !important;
  }

  .slide.partner-img img {
    width: 220px;
    cursor: pointer !important;
    height: 100px;
  }

  .stew .sides a {
    min-width: 200px !important;
    max-width: 250px !important;
    height: 140px !important;
  }
  .trush {
    width: 100% !important;
    margin: 20px 0px !important;
  }
}

.swiper-container.journal .navigationArrow.left {
  left: 0px !important;
}

.swiper-container.journal .navigationArrow.right {
  right: 0px !important;
}

.mySwiper1 .swiper-wrapper {
  width: 1000%;
}

.mySwiper1 .swiper-wrapper .slide {
}

.mySwiper1 .swiper-wrapper .slide img {
  margin: 0 auto;
}

.navigationArrow {
  color: #000000;
  position: absolute;
  font-size: 22px;
  transform: translateY(-50%);
  top: 50%;
  z-index: 99;
}

.navigationArrow.white {
  color: #ffffff;
}

.navigationArrow.left {
  left: 200px;
}

.navigationArrow.right {
  right: 200px;
}

.journal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 190px;
  width: 300px;
  min-width: 300px;
  padding: 10px;
  z-index: 1;
}

/* overlay */
.journal-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  transition: all .3s ease-in-out;
}

.journal-container:hover::before {
  background: rgba(0, 0, 0, 0.174);
}

.journal-container h6 {
  font-size: 20px;
  font-family: 'HelveticaNeueCyr-Roman';
  color: #fff;
  margin: 0;
  font-weight: 600;
}

.journal-container span {
  font-size: 13px;
  font-family: 'HelveticaNeueCyr-Light';
  color: #fff;
  margin: 0;
}

.rain-bouled::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: red;
  z-index: -100;
}

.mutune {
  font-size: 30px;
  line-height: 40px;
}

.nweton {
  max-height: 280px;
  overflow-y: auto;
  list-style: circle !important;
}

.nweton li {
  list-style: circle !important;
  margin: 0 7px;
  padding-left: 6px;
  position: relative;
}

.nweton li::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  border: .5px solid white;
  left: 0;
  top: 8px;
  transform: translateY(50%);
}

.nweton::-webkit-scrollbar {
  display: none;
}


@media (max-width: 768px) {
  .mySwiper > .swiper-wrapper > .slide-banner .banner-slider-content h3 {
    font-size: 50px;
    line-height: 57px;
    letter-spacing: 1px;
  }

  .mySwiper > .swiper-wrapper > .slide-banner .banner-slider-content > h4 {
    font-size: 23px;
    letter-spacing: .9px;
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 25px;
  }

  .mySwiper > .swiper-wrapper > .slide-banner .banner-slider-content p {
    width: 95%;
    max-width: 96%;
    line-height: 27px;
    margin-top: 20px;
  }

  .cursor-pointer {
    width: 75%;
    margin: 0 auto;
  }

}

.trush {
  display: flex !important;
  position: relative;
  padding-bottom: 10px;
  margin: 60px 20px;
  width: calc(100% - 300px);
  margin-left: auto;
  margin-right: auto;
}

.kunli button {
  position: absolute;
  font-size: 32px;
  z-index: 100;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}



.trush::-webkit-scrollbar {
  display: none;
  height: 5px;
  width: 5px;
}
.trush::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #f2fdff00;
  border: .5px solid #ffffff00;
}

.trush::-webkit-scrollbar-track:hover {
  background-color: #b8c0c217;
}

.trush::-webkit-scrollbar-track:active {
  background-color: #b8c0c224;
}

.trush::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #323631c8;
  border: .5px solid #ffffff20;
}

.trush::-webkit-scrollbar-thumb:hover {
  background-color: #383c37e8;
}

.trush::-webkit-scrollbar-thumb:active {
  background-color: #383c37e8;
}

@media (max-width: 991px) {
  .mySwiper {
    height: 100dvh !important;  
  }
  .menu-items {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .mySwiper {
    height: 100dvh !important;  
  } 
  .kunli button {
    font-size: 20px;
    right: 10px !important;
  }

  .kunli button.left {
    left: 10px !important;
  }
  .cursor-pointer {
    min-width: 180px !important;
    max-width: 180px !important;
  }
  .menu-items {
    display: none !important;
  }
  
}


.close:hover{
  color: #DD47F7 !important;
}


/* Add this to your global CSS file or as a Tailwind plugin */
.rainbow-border {
  box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.7), 
              0 0 20px 5px rgba(255, 165, 0, 0.7), 
              0 0 30px 5px rgba(255, 255, 0, 0.7),
              0 0 40px 5px rgba(0, 128, 0, 0.7),
              0 0 50px 5px rgba(0, 0, 255, 0.7),
              0 0 60px 5px rgba(75, 0, 130, 0.7),
              0 0 70px 5px rgba(238, 130, 238, 0.7);
  transition: box-shadow 0.3s ease;
}

.journal-container:hover,
.journal-container:active {
  box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.7), 
              0 0 20px 5px rgba(255, 165, 0, 0.7), 
              0 0 30px 5px rgba(255, 255, 0, 0.7),
              0 0 40px 5px rgba(0, 128, 0, 0.7),
              0 0 50px 5px rgba(0, 0, 255, 0.7),
              0 0 60px 5px rgba(75, 0, 130, 0.7),
              0 0 70px 5px rgba(238, 130, 238, 0.7);
}






